---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<script is:inline>
			function openDialog(type: string) {
				console.log(type)
				var dialog = document.getElementById("dialog");
				var dialogItem = document.getElementById("dialogItem");

				document.body.classList.add("overflow-hidden");
				dialog?.classList.add("opacity-100", "pointer-events-auto");
				dialogItem?.classList.add("opacity-100", "translate-y-0");
			}
			function closeDialog() {
				var dialog = document.getElementById("dialog");
				var dialogItem = document.getElementById("dialogItem");

				document.body.classList.remove("overflow-hidden");
				dialog?.classList.add("opacity-0", "pointer-events-none");
				dialogItem?.classList.add("opacity-0", "translate-y-1/2");
			}
		</script>
		<div class="mx-auto fixed top-0 left-1/2 -translate-x-1/2 z-10 w-full grid place-items-center text-white mt-6">
			<div class="flex border border-zinc-800 p-1 rounded-xl items-center bg-black/60 backdrop-blur-sm">
				<img src="/assets/qi-app.png" class="w-10 h-10" alt="QI" />
				<span class="px-6">Início</span>
				<span class="px-6">Soluções</span>
				<span class="px-6">Sobre nós</span>
			</div>
		</div>
		<slot/>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #000000;
	}
</style>
