@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Borna";
  font-weight: 400;
  src: url("/fonts/borna-regular-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/borna-regularitalic-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 500;
  src: url("/fonts/borna-medium-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/borna-mediumitalic-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 600;
  src: url("/fonts/borna-semibold-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/borna-semibolditalic-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 700;
  src: url("/fonts/borna-bold-webfont.woff");
}

@font-face {
  font-family: "Borna";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/borna-bolditalic-webfont.woff");
}

body,
html {
  color-scheme: dark;
  background-color: rgb(11, 11, 11);
}

#card {
  z-index: 0;
}

#cards:hover > #card > #card-border {
  opacity: 1;
}

#card:hover::before {
  opacity: 1;
}

#card-content {
  position: relative;
  z-index: 2;
}

#card::before {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.1) 0%,
    transparent 40%
  );
  border-radius: 12px;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
}

#card-border {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgb(255, 255, 255, 0.3) 0%,
    transparent 40%
  );
  border-radius: 12px;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}

#noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: 10;
}

#noise-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

#noise {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent
    url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
  background-size: 320px 320px;
  opacity: 0.35;
  animation: noise 1s steps(8, end) infinite both;
}

@keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px, 100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
