.section {
  align-self: center;
  width: 1336px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  width: 1040px;
  text-align: left;
  margin-bottom: 2rem;
}

.text h2 {
  color: #f8f8f8;
  line-height: 4rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin: 0px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.text p {
  color: #c2c2c2;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0px;
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}

.text button {
  cursor: pointer;
  color: #3474ff;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0;
  margin-left: 1rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 234px);
  grid-template-rows: repeat(3, 60px) 80px;
  grid-column-gap: 032px;
  grid-row-gap: 040px;
}

.content div {
  display: block;
  margin: 30px 10px;
  position: relative;
  outline: none;
  width: 100%;
  width: 100%;
  height: 100%;
}

.content div[id="c0"] {
  grid-area: 1 / 1 / 2 / 3;
}

.content div[id="c1"] {
  grid-area: 1 / 3 / 2 / 5;
}

.content div[id="c2"] {
  grid-area: 2 / 1 / 3 / 3;
}

.content div[id="c3"] {
  grid-area: 2 / 3 / 3 / 5;
}

.content div[id="s0"] {
  grid-area: 3 / 1 / 4 / 3;
}

.content div[id="s1"] {
  grid-area: 3 / 3 / 4 / 5;
}

.message {
  width: 100%;
  height: 80px;
  grid-area: 4 / 1 / 5 / 4;
}

.button {
  width: 100%;
  height: 100%;
  grid-area: 4 / 4 / 5 / 5;
}

.button button {
  width: 100%;
  height: 100%;
  color: #000000;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ffffff;
  padding: auto;
  border-radius: 15px;
  border: none;
  margin: 0px;
}

.content div label {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: -20px;
  left: 10px;
  display: inline-block;
  color: #dcdcdc;
  margin: 8px 5px;
  padding: 0 5px;
  transition: position 0.2s linear;
  background: #0e0e0e;
}

.content div input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 3px solid #767676;
  border-radius: 10px;
  background-color: #0e0e0e;
}

.content div select {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 3px solid #767676;
  border-radius: 10px;
  background-color: #0e0e0e;
  appearance: none;
}
